/*Normalizacion*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    list-style: none;
    padding: 0;
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
}

header {
    position: fixed; /* Fija el header en la parte superior*/
    right: 0;
    top: 0;
    z-index: 100; /* Muestra al header por encima*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 800;
}

.navlist {
    display: flex;

}

.navlist a {
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5 ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

/*#menu-icon{
    display: none;
}*/

#menu-icon {
    display: none;
    font-size: 35px;
    z-index: 101; /*Para que se muestre sobre el header*/
    cursor: pointer;
}
#menu-toggle {
    display: none; /* Checkbox desactivado permanentemente */
}


.menu-icon-action {
    display: block; 
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem; /**Espacios de 2rem entre las dos columnas**/
}

section {
    padding: 0 8%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}
.hero-text h1{
 font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;

}
.hero-text p{
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}
.hero-img img {
    width: 300px;
    margin: 10px 0 0 30%;
    height: auto;
    transition: all 3s linear;
}

.hero-img img:hover {
    width: 350px;
    opacity: 0.6;
}

.hero-text a{
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5 ease;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.icon-projects{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a.icon-projects i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 29px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover {
    color: #4d4d4d;
    transform: translateY(-10px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 3%;

}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all .5s ease
}

.scroll-down i:hover {
    transform: translateY(-10px);
}

@media (max-width: 992px){
    section{
        padding: 0 3%;
        transition: .2s;
    }

    .icons{
        display: none;
    }
    .hero-text{
        padding-top: 0;
    }
    .hero-text p{
        font-size: 70%;

    }
    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){
   .menu-icon-action{
    display: block;
   }
   #menu-icon{
    display: block;
   }
   .hero-text{
    text-align: center;
    padding-top: 100px;
   }
   .hero-img img{
    margin: 0
   }
   .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
   }
   .navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    height: 180px;
    background-color: #01130bd7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    transition: all .5s ease-out;
   }

   .navlist a{
    display: block;
    margin: 7px 0;
    
   }

   #menu-toggle:checked + label.menu-icon-action + ul{
    right: 0;
   }
}